# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Vidis projects files
*.aux
*.log
*.out
*.toc
.vscode
.private
.Xil
_x
*.xo
**/build/*
**/out/*
**/venv/
*.ltx
*.xclbin
*.info
**/build/kernelBuild/*.csv
*.fls
*.fdb_latexmk
*.compile_summary*
vitis_analyzer*
*.link_summary*
hw_src/ip_cache